<div class='main_theme' >
  <div class="upper-message">
    <div class=message-user>
      <%= "名前" %>
    </div>
    <div class="message-date">
      <%= "投稿にちじ" %>
    </div>
  </div>      
  <div class="lower-message">
    <div class="message-content">
      <%= "コメント" %>
    </div>
</div>
