.main {
  display: flex;
  justify-content: center;
  background-color: seagreen;
}
.main-theme {
  width: 60%;
  height: 70%;
  border: 1px solid red;
  margin: 15px 0;

}

.upper-message {
  display: flex;
  justify-content: space-between;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-right: 10px;

}

.lower-message {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.message-content {
  color: #434a54;
  font-size: 30px;
  margin-bottom: 10px;
}